.etape10
    background-color: #1d1b17
    width: 100%
    height: 100vh
.parent16
    .card
        background-color:  #1d1b17 
        border-style: none
i
    background-color: $beige
    font-size: 20px
    border-radius: 50%          
    border: 10px solid $beige
.parent17
    display: flex    
    justify-content: center
    align-items: center
.inp1
    width: 765px    
.texA
    width: 765px    
.btnf
    position: relative 
    left: 120px 
    bottom: 70px
    background-color: $beige








    // etape11

.etape11
    background-color: #1d1b17
    width: 100%
    height: 100vh
.parent20
    margin: 30px
    padding: 10px
    gap: 5px
.parent21
    display: flex
    margin: 20px 
.btnf1
    position: relative 
    right: 100px
    top: 10px
    background-color: $beige
.PARENT22
    width: 100%
    position: relative 
    left: 200px

.ss
    margin-left: 40px


footer
    height: 60px
    background-color: black 
    padding: 20px   

.carouseldiv
    
    height: 100vh    
.h22 
    color: $beige 
.h33
    color: $beige  
.pp
input
    border: 1px solid grey  
.fin
    display: flex
    justify-content: flex-end
    align-items: center 
    position: relative  
    left: 350px 

      
.xx
    position: relative 
    bottom: 50px