nav
    width: 100%
    height: 120px
    position: fixed
    background-color: rgba(0,0,0,0.7)
    display: flex
    justify-content: space-between
    margin: 0
    padding: 0
    z-index: 3
a
    color: white
    text-decoration: none
    &:hover
        color: #cda45d
.a1
    font-size: 100px 
.bi
    z-index: 50
    position: relative

h1
    font-size: 5rem
    font-weight: 700
    z-index: 4
.h2-1
    font-size: 2.5rem
span
    color: #cda45d
.btn
    margin-right: 20px
    border: 3px solid #cda45d
    &:hover
        background-color: #cda45d
        border-color: #cda45d

.fils
    width: 100%
    display: flex
    flex-direction: column
    position: relative
    top: 200px
    left: 100px
    z-index: 3
.btn
    width: 180px
    height: 50px
    margin-top: 20px
.btn0
    width: 220px
    height: 50px
.btn2
    width: 220px
    margin-bottom: 20px
.modal-backdrop
    display: none

.video-play-button
    position: relative
    z-index: 10
    bottom: 80px
    left: 700px
    transform: translateX(-50%) translateY(-50%)
    box-sizing: content-box
    display: block
    width: 15px
    height: 12px
    background: $beige
    border-radius: 50%
    padding: 9px 24px 18px 28px

.video-play-button:before
    content: ""
    position: absolute
    z-index: 0
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
    display: block
    width: 75px
    height: 75px
    background: $beige
    border-radius: 50%
    animation: pulse-border 1500ms ease-out infinite

.video-play-button:after
    content: ""
    position: absolute
    z-index: 11
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
    display: block
    width: 70px
    height: 70px
    background: $beige
    border-radius: 50%
    transition: all 200ms
    border: solid 4px $beige

.video-play-button span
    display: block
    position: relative
    z-index: 3
    width: 0
    height: 0
    border-left: 18px solid #fff
    border-top: 10px solid transparent
    border-bottom: 12px solid transparent

.cc-navbar
    background-color: rgba(0, 0, 0, 0.55)
    display: flex
    align-items: center
    justify-content: center

.qq
    display: flex
    justify-content: space-around   
    align-items: center
    gap: 30px
    color: white



@keyframes pulse-border
    0%
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1)
        opacity: 1

    100%
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5)
        opacity: 0

@media (max-width:767px)
    .etape1
        width: 100% !important
    nav
        display: flex
        flex-direction: column
        margin: 0
        gap: 0
        position: relative
    a
        display: flex
        font-size: xx-small
        position: relative
        right: 30px
    .a1
        font-size: 20px !important
    .parent1
        display: flex
        flex-direction: column
    .btn
        width: 120px
        height: 50px
        margin-top: 20px
        position: relative
        bottom: 20px
        font-size: 15px !important
    .ll
        font-size: small !important

    .fils
        width: 100% !important
        display: flex
        margin: 0
        padding: 0
        top: 100px
        left: 30px
        font-size: 20px !important
    
    h1
        width: 100%
        font-size: 30px
        margin: 0
        padding: 0
    .h2-1
        font-size: 20px    

    .video-play-button
        bottom: 0px
        left: 50px   
        top: 100px 


@media (min-width:767px) and (max-width:1024px) 
   
    .etape1
        height: 700px
       
       
    .video-play-button
        bottom: 50px !important
        left: 100px !important 
        top: 50px  !important



