.etape4
    width: 100%
    height: 1000px
    background-color: #1d1b17
    padding: 50px

.parent6
    gap: 30px
    margin-top: 50px
.p5
    color: $beige    
.img3
    width: 80px
.p7
    font-weight: 700
.enfant6
    margin-left: 50px    
.parent7
    margin-top: 100px      
.active
    color: $beige
.vv
    margin-top: 100px    



@media (max-width:768px) 
    .etape4
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
    .parent7
        margin-top: 0
    
      
    .enfant6
        margin-left: 0 
        .mx-5
         margin: 0 !important                